.env
node_modules
node_modules/
dist
dist/
build
build/
.DS_Store
.vscode
.idea
*.log
*.lock
coverage
coverage/
.next/
.next
.turbo/
.turbo
next-env.d.ts
public/app-store/svg-hashes.json
pnpm-lock.yaml